body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
div{
    display: flex;
}

button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin: 10px;
}

.container{
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.box{
    box-sizing: border-box;
    border: 1px black solid;
}